<ion-header>
  <ion-navbar>
    
    <ion-grid>
  <ion-row>
    <ion-col>
      <ion-title col-10>{{pillar.name}}</ion-title>
    </ion-col>
    <ion-col col-2  >
       
      <circle-progress
        [percent]="pillar.getProgressPercent()"
        [subtitle]="pillar.getProgressPercent(true)"
        [radius]="15"
        [subtitleFontSize]="7"
        ></circle-progress>
    </ion-col>
    </ion-row>
    </ion-grid>
  </ion-navbar>
  
</ion-header>


  <ion-content *ngIf="pillar.id">
    <ion-list>
      <ion-item *ngFor="let activity of pillar.activities">
        <ion-label> {{ activity.name }}</ion-label>

          <ion-checkbox (click)="onChange($event, activity)" [disabled]="activity.uiChecked" [checked]="activity.uiChecked" color="dark" checked="false"></ion-checkbox>
          
      </ion-item>
    </ion-list>

    <ion-card>
      <ion-row>{{pillar.name}}</ion-row>
      <ion-row>{{pillar.description}}</ion-row>
    </ion-card>
  </ion-content>