

  <ion-content class="login" style="margin-top: 50px; background-image: url('assets/imgs/bg.jpg');">

  <form (ngSubmit)="onSubmit()" *ngIf="authType == 'login'">
    <ion-item text-center style="font-size: 30px;">
      <ion-icon name="bonfire"></ion-icon> الأركان السبعة للحياة
    </ion-item>
    <ion-item *ngIf="hasError" text-center>
      {{ errorMsg }}
    </ion-item>

    <ion-item>
      <ion-label>البريد الإلكتروني</ion-label>
      <ion-input [ngModelOptions]="{standalone:true}" type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>كلمه السر</ion-label>
      <ion-input [ngModelOptions]="{standalone:true}" type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-item text-center>
      <button ion-button full type="submit">تأكيد المعلومات </button>
    </ion-item>
  </form>

  <form  *ngIf="authType == 'signup'">
    <ion-item>
      <ion-label>قيد الإنجاز</ion-label>
    </ion-item>
  </form>
</ion-content>